
  <div>
    <form class="row justify-content-center" id="top" (ngSubmit)="onSubmit()">
        <div class="col-md-5">
            <input type="text"  name="youtubeUrl" [(ngModel)]="urlinput" id="youtubeUrl" class="form-control" placeholder="Please insert here your Youtube video" aria-label="urlvideo" aria-describedby="urlvideo">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit" id="urlvideo">See The Video</button>
        </div>
    </form>
</div>
  