<div class="container">
    <div class="row">
        <div class="col-12">
            <app-search-bar (resultURL)=reproduceVideo($event)></app-search-bar>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3 ">
            <app-history [newEntryHistory]='urlView' (videoService)=reproduceVideo($event)></app-history>
        </div>
        <div class="col-md-6">
            <app-video-view [linkVideo]='urlView' (updateBookmark)=updateBookmark($event)>
            </app-video-view>
        </div>
        <div class="col-md-3 ">
            <app-bookmarks [bookmarkUrl]='urlBookmark' (videoService)=reproduceVideo($event)></app-bookmarks>
        </div>
    </div>
</div>