<div class="container">
    <div class="row">
        <div class="col-12">
            <app-search-bar (resultURL)=reproduceVideo($event)></app-search-bar>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2 ">
            <app-history></app-history>
        </div>
        <div class="col-md-8 ">
            <app-video-view [linkVideo]='urlID'>
            </app-video-view>
        </div>
        <div class="col-md-2 ">
            <app-bookmarks></app-bookmarks>
        </div>
    </div>
</div>