/* You can add global styles to this file, and also import other style files */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #000;
  font-weight: 300;
}


body ul li .nav-link:focus,body ul li .nav-link{
  color: #fff;
}
body ul li .nav-link:hover,body ul li .nav-link:active{
  color: rgb(187, 187, 187);
  cursor: pointer;
}

h3{
  color: #fff;
}


